
.form-cadastro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.form-cadastro-welcome img{
    width: 600px;
}

.form-cadastro-welcome h1{
    font-size: 50px;
    color: #3160ED;
    margin: 0;
    width: 550px;
}

.form-cadastro-welcome p {
    color: #595959;
    font-size: 18px;
}

.form-cadastro-welcome img {
    width: 480px;
    margin-left: 50px;
}

.form-container-cadastro {
    width: 400px;    
    padding: 20px;
    text-align: center;
}

.form-container-cadastro span {
    color: #595959;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-container-cadastro h2 {
    font-size: 40px;
    color: #3160ED;
    margin-top: 0;
} 

.login-input-cadastro {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: #d8e1f5;
    border: none;
    border-radius: 10px;
}

.senha-cadastro-container {
    position: relative;
    margin-top: 10px;
}

.toggle-password {
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    color: #595959;
}

.btn-login {
    width: 328px;
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #3160ED;
    margin-top: 30px;

    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #4070ff;
}

.options-cadastro label{
    display: flex;
    align-items: center;
    color: #595959;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.divisor {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #595959;
    width: 100%;
}

.divisor::before, 
.divisor::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #595959;
    margin: 0 10px;
}

.social-login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-btn {
    background-color: #D8E1F5;  
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
}

.social-btn:hover {
    transform: scale(1.1);
    background-color: transparent;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/*Media Queries*/

@media (min-width: 360px) and (max-width:812px){
    .form-cadastro {
        display: block;
        padding: 20px;
    }

    .form-cadastro-welcome h1 {
        font-size: 38px;
        width: 100%;
        margin-left: 10px;
    }

    .form-cadastro-welcome p {
        width: 90%;
        margin-left: 20px;
    } 

    .form-cadastro-welcome img {
        width: 250px;
    }

    .form-container-cadastro {
        width: 90%;
        margin-bottom: 40px;
    }

    .login-input-cadastro, .social-login {
        width: 90%;
        margin-left: 10px;
    }

    .toggle-password {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .btn-login {
        width: 300px;
    }
}

@media (min-width: 820px) and (max-width: 1024px) {
    .form-cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .form-cadastro-welcome h1 {
        font-size: 40px;
        margin-top: 60px;
        width: 100%;
    }

    .form-cadastro-welcome p {
        margin-left: 20px;
    } 

    .form-cadastro-welcome img {
        width: 480px;
    }

    .form-container-cadastro {
        margin-bottom: 40px;
        width: 80%;
    }

    .social-btn {
        margin-left: 0;
    } 
}
